.input-group, .input-group-text{
    color: var(--primaryColor);
    background-color: var(--tertiaryColor);
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
}
.input-group-text, .ride-text{   
    padding: 10px;
}
.ride-card{
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0 , 0.2);
    transition: all 0.2s;
}
.ride-card:hover{
    box-shadow: 6px 6px 15px 0px rgba(0, 0, 0 , 0.2);
    transform: scale(1.04);
}
.line-ride-client {
    width: 4px;
    background: grey;
    margin-left: 3px;
    height: calc(40px);
}
.circle-ride-from {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--orange);
    border-radius: 50%;
}
.circle-ride-to {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.chair-icon{
    color: rgb(60, 170, 60);
}

@media(max-width: 991px){
    .line-ride{
        height: calc(65px);
    }
}

@media( max-width: 760px){
    .line-ride{
        height: calc(95px);
    }
}