#home{
    background-image: url('../../../images/home.png') ,linear-gradient(130deg, #eff7fa 20%,#e3e8eb 40%, #dbe3e9 50%, #e3eaf0 60% );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
}
.main-heading{
    margin-top: 0px;
    margin-bottom: 0vh;
    border-bottom: 10px none #000;
    font-size: 70px;
    line-height: 86px;
    letter-spacing: -3.09px;
    text-decoration: none
}

.sub-heading{
    font-size: 50px;
}

.pt-10 {
    padding-top: 85px;
}

.custom-rounded-circle {
    border-radius: 20px;
}

.go-cards {
    min-height: 340px;
}

.home-para{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.home-button {
    border-radius: 25px;
    background-color: var(--secondaryColor);
    border: none;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 35px;
}

.input-bg{
    background: var(--tertiaryColor) !important;
}


.py-section{
    padding: 100px 0px;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.work-number{
    background: var(--tertiaryColor);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

@media(max-width: 991px){
    .main-heading{
        font-size: 50px;        
        line-height: 53px;
    }
    .sub-heading{
        font-size: 40px;
    }
}

@media( max-width: 760px){
    .py-section{
        padding: 40px 0px;
    }
    .main-heading{
        font-size: 50px;
        text-align: center;
        line-height: 53px;
    }
    .home-para{
        text-align: center;
        font-size: 18px;
    }
    .mobile-center{
        text-align: center;
    }
}

